<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <header class="text-center text-white">
            <h1 class="bg-primary mt-3 p-3">NFL Teams</h1>

            @* show any message in TempData *@
            @if (TempData.Keys.Contains("message"))
            {
                <h4 class="bg-success p-2">@TempData["message"]</h4>
            }
        </header>
        <main>
            @RenderBody()
        </main>
    </div>
</body>
</html>
