@model IEnumerable<Teacher>

@{
    ViewData["Title"] = "Teacher";
}

<div class="text-center">
    <h1 class="display-4">Teachers</h1>
</div>

<a asp-action="Add" class="ms-2">Add Teacher</a>

<table class="table">
    <thead>
        <tr><th>First Name</th><th>Last Name</th><th></th></tr>
    </thead>
    <tbody>
        @foreach (Teacher teacher in Model)
        {
            <tr>
                <td>@teacher.FirstName</td>
                <td>@teacher.LastName</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@teacher.TeacherId"
                       class="btn btn-outline-dark">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

