<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <header class="jumbotron">
            <h1>My Movies</h1>
        </header>
        @RenderBody()
    </div>
</body>
</html>
