@* this view is used for the Add action and the Update action *@
@model Product
@{
    // sets title to "Add Product" or "Update Product"
    ViewBag.Title = ViewBag.Action + " Product";    
}

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/
                       jquery.validate.unobtrusive.min.js"></script>
}

<h1>@ViewBag.Title</h1>

<form asp-action="Update" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="CategoryID" class="form-label">Category</label>
        <select asp-for="CategoryID"
                asp-items="@(new SelectList(ViewBag.Categories,
                         "CategoryID", "Name",
                         Model.CategoryID.ToString()))"
                class="form-select"></select>
    </div>

    <div class="mb-3">
        <label asp-for="Code" class="form-label"></label>
        <input asp-for="Code" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control">
    </div>

    <input type="hidden" asp-for="ProductID" />

    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-action="List" class="btn btn-primary">Cancel</a>
</form>