@model Author

@{
    ViewData["Title"] = " | Author";
}

<h1>Author</h1>

<table class="table table-bordered table-sm">
    <thead>
        <tr class="bg-dark text-white">
            <th>@Model.FullName</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @foreach (var book in Model.Books)
                {
                    <p><partial name="_BookLinkPartial" model="@book" /></p>
                }
            </td>
        </tr>
    </tbody>
</table>