@model Temp

@{
    ViewData["Title"] = "Add";
}

<h2 class="p-2">Delete temp</h2>
<table class="table">
    <thead><tr><th>Date</th><th>Low</th><th>High</th></tr></thead>
    <tbody>
        <tr>
            <td>@Model.Date?.ToShortDateString()</td>
            <td>@Model.Low</td>
            <td>@Model.High</td>
        </tr>
    </tbody>
</table>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-dark mr-2">Delete</button>
    <a asp-action="Index" class="btn btn-dark">Cancel</a>
</form>