@{
    ViewData["Title"] = "Product Details";
}
<h1>Product Details</h1>
<div class="list-group">
    <p>Slug: @ViewBag.ProductSlug</p>

    <a asp-controller="Home" asp-action="Index">Home</a>
</div>
