@{
    ViewData["Title"] = "Favorites";
}

<div class="text-center">
    <h2>My Favorites</h2>
    <p>This functionality hasn't been implemented yet. See chapter 9.</p>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">
        Back to Home Page
    </a>
</div>

