@model Temp

@{
    ViewData["Title"] = "Add";
}

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<h2 class="p-2">Add temp</h2>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="Add" method="post">
    <div class="mb-2">
        <label asp-for="Date" class="form-label"></label>
        <input asp-for="Date" class="form-control" type="text" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="Low" class="form-label"></label>
        <input asp-for="Low" class="form-control" />
        <span asp-validation-for="Low" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="High" class="form-label"></label>
        <input asp-for="High" class="form-control" />
        <span asp-validation-for="High" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <button type="submit" class="btn btn-dark mr-2">Add</button>
        <a asp-action="Index" class="btn btn-dark">Cancel</a>
    </div>
</form>

